body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.container-left {
  width: 20%;
  padding: 1rem;
  background-color: white;
}

.container-right {
  width: 100%;
  padding: 1rem;
  background-color: whitesmoke;
  border-left-color: black;
  border-left-width: 2px;
  border-left-style: solid;
}